.panel.panel-default
  .panel-body
    = simple_form_for(@company, html: {class: 'form-horizontal'}, wrapper: :horizontal_form) do |f|
      = f.error_notification

      = f.input :name
      = f.input :logo, wrapper: :horizontal_file_input, as: :image_preview
      = f.hidden_field :logo_cache
      = f.input :address
      = f.input :latitude
      = f.input :longitude, hint: modal_button("select the company's coordinates", '#rsm-coords-selector')
      = f.input :description

      = f.button :submit


- content_for :modal do
  .modal.fade#rsm-coords-selector{tabindex: '-1'}
    .modal-dialog.modal-lg
      .modal-content
        .modal-header
          %button.close{type: 'button', data: {dismiss: 'modal'}}
            %span &times;
          %h4 Select LatLng

        .modal-body
          %p#rsm-latlng LatLng:
          #rsm-coords-map

        .modal-footer
          %button.btn.btn-default{type: 'button', data: {dismiss: 'modal'}} Close
          %button.btn.btn-primary#rsm-coords-save-button{type: 'button', data: {dismiss: 'modal'}} Save Changes
