.panel.panel-default
  .panel-body
    = simple_form_for(@company, html: {class: 'form-horizontal'}, wrapper: :horizontal_form) do |f|
      = f.error_notification

      = f.input :name
      = f.input :logo, wrapper: :horizontal_file_input, as: :image_preview
      = f.hidden_field :logo_cache
      = f.input :address
      = f.input :latitude
      = f.input :longitude
      = f.input :description

      = f.button :submit
